.checkout {
  margin-top: 2em;
}

.checkout__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.checkout__shipping-details {
  width: 100%;
  margin-bottom: 1em;

  @media (min-width: 768px) {
    width: calc(65% - 2em);
    margin-right: 2em;
  }
}

.checkout__info {
  width: 100%;
  border: 1px solid $gray-1;
  padding: 1em;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 auto auto;

  @media (min-width: 768px) {
    width: 35%
  }
}

.checkout__shipping-details--title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1em;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.checkout__form-items {
  margin: 0 -1em;
  display: flex;
  flex-wrap: wrap;
}

.checkout__form-item.checkbox,
.checkout__payment-item {
  & input {
    opacity: 0;
    position: absolute;
  }

  & label {
    position: relative;
    padding-left: 20px;
  
    @media (min-width: 768px) {
      padding-left: 30px;
    }
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &::before {
      width: 14px;    
      height: 14px;
      right: 0.5em;
      border-radius: 3px;
      background-color: transparent;
      transition: 0.4s;
      border: 1px solid $gray;
      left: 0;
  
      @media (min-width: 768px) {
        width: 20px;    
        height: 20px;
      }
    }
  
    &::after {    
      transform: rotate(45deg);    
      height: 9px;    
      width: 5px;    
      border-bottom: 2px solid white;    
      border-right: 2px solid white;    
      display: inline-block;   
      margin-top: -6px;
      left: 5px;
  
      @media (min-width: 768px) {  
        height: 10px;    
        width: 6px;   
        border-bottom: 3px solid white;    
        border-right: 3px solid white;  
        left: 8px;   
      }
    }
  }

  & input:checked + label {
    &::before {
      background-color: $primary;
      border: 1px solid $primary;
    }
  }
}

.checkout__form-item {
  width: 100%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  @media (min-width: 768px) {
    width: 50%;
  }

  &.textarea,
  &.checkbox {
    width: 100%;
  }

  & input,
  & textarea {
    border: 1px solid $gray-1;
    border-radius: 3px;
  }

  & input {
    padding: 0.5em 1em;
  }

  & label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
}

.checkout__info-product-items,
.checkout__subtotal,
.checkout__order-total {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-1;
}

.checkout__info-title {
  font-weight: 600;
  margin-bottom: 1em;
}

.checkout__info-product-item,
.checkout__subtotal-item,
.checkout__order-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.checkout__info-product-item {
  & .name {
    padding: 0 0.5em;
    line-height: 1.45;
  }
}

.checkout__order-total {
  & > *:last-child {
    font-size: 16px;
    color: $primary;
  
    @media (min-height: 768px) {
      font-size: 20px;
    }
  }
}

.checkout__payment-items {
  margin-bottom: 1em;
}

.checkout__payment-item {
  margin-bottom: 0.75em;
}

.checkout__place-order {
  width: 100%;
  display: block;
  padding: 1em;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: $primary;
  border: 1px solid $primary;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 1em;
  transition: 0.4s;

  &:hover {
    background-color: white;
    color: $primary;
  }
}